.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 2948px;
}

.desktop .overlap {
  position: relative;
  width: 1916px;
  height: 2948px;
  left: -46px;
}

.desktop .rectangle {
  position: absolute;
  width: 1728px;
  height: 1571px;
  top: 0;
  left: 46px;
  background: linear-gradient(180deg, rgb(9, 229, 255) 0%, rgb(255, 255, 255) 100%);
}

.desktop .div {
  position: absolute;
  width: 1728px;
  height: 448px;
  top: 2500px;
  left: 46px;
  transform: rotate(-180deg);
  background: linear-gradient(180deg, rgb(9, 229, 255) 0%, rgb(255, 255, 255) 100%);
}

.desktop .text-wrapper {
  position: absolute;
  top: 251px;
  left: 529px;
  -webkit-text-stroke: 3px #f7ff83;
  background: linear-gradient(180deg, rgb(253, 124, 42) 0%, rgb(233, 38, 141) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 200px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 1532px;
  top: 1818px;
  left: 144px;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #d3d3d3;
  font-size: 120px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 528px;
  left: 654px;
  font-family: "HakgyoansimExt Wooju-R", Helvetica;
  color: #e9268d;
  font-size: 64px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .flexcontainer {
  gap: 12px;
  width: 685px;
  height: 208px;
  top: 699px;
  left: 568px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.desktop .text {
  position: relative;
  align-self: stretch;
  font-family: "HakgyoansimExt Wooju-Regular", Helvetica;
  font-weight: 400;
  color: #ff0086;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  font-family: "HakgyoansimExt Wooju-Regular";
  font-weight: 400;
  color: #ff0086;
  font-size: 32px;
  letter-spacing: 0;
}

.desktop .flexcontainer-2 {
  gap: 10px;
  width: 194px;
  height: 58px;
  top: 2857px;
  left: 1556px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.desktop .span-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "HakgyoansimExt Wooju-Regular";
  color: #e9268d;
  font-size: 24px;
  text-align: right;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  font-family: "HakgyoansimExt Wooju-Regular", Helvetica;
  font-weight: 400;
  color: #e9268d;
  font-size: 24px;
  letter-spacing: 0;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 1728px;
  height: 120px;
  top: 120px;
  left: 46px;
  background-color: #ffffff;
}

  .desktop .p {
    position: absolute;
    top: 147px;
    left: 100%; /* 애니메이션 시작을 위해 오른쪽 끝에서 시작 */
    font-family: "Hakgyoansim Wooju-R", Helvetica;
    color: #000000;
    font-size: 64px;
    white-space: nowrap;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    animation: slideIn 15s linear infinite; /* 15초 동안 계속해서 반복 */
  }
  
  @keyframes slideIn {
    from {
      left: 100%; /* 애니메이션 시작 위치 */
    }
    to {
      left: -100%; /* 텍스트 길이에 따라 조정할 수 있습니다 */
    }
  }

.desktop .image-from-rawpixel {
  position: absolute;
  width: 656px;
  height: 655px;
  top: 589px;
  left: 46px;
  object-fit: cover;
}

.desktop .pngegg {
  position: absolute;
  width: 472px;
  height: 532px;
  top: 821px;
  left: 1302px;
  object-fit: cover;
}

.desktop .img {
  position: absolute;
  width: 441px;
  height: 389px;
  top: 1085px;
  left: 1202px;
  object-fit: cover;
}

.desktop .group {
  position: absolute;
  width: 657px;
  height: 598px;
  top: 1165px;
  left: 241px;
}

.desktop .group-2 {
  position: absolute;
  width: 656px;
  height: 668px;
  top: 255px;
  left: 1118px;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 636px;
  height: 634px;
  top: 1295px;
  left: 0;
}

.desktop .overlap-group {
  position: relative;
  width: 588px;
  height: 634px;
  left: 46px;
  background-image: url(./img/group-2.png);
  background-size: 100% 100%;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 208px;
  top: 253px;
  left: 185px;
  transform: rotate(-30deg);
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 328px;
  height: 714px;
  top: 1970px;
  left: 66px;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 320px;
  height: 706px;
  top: 1970px;
  left: 70px;
  background-color: #0000007a;
  border-radius: 30px;
  border: 3px solid;
  border-color: #fff400;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 328px;
  height: 714px;
  top: 2069px;
  left: 406px;
  object-fit: cover;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 320px;
  height: 706px;
  top: 2069px;
  left: 410px;
  background-color: #0000007a;
  border-radius: 30px;
  border: 3px solid;
  border-color: #fff400;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .rectangle-7 {
  position: absolute;
  width: 328px;
  height: 714px;
  top: 2033px;
  left: 746px;
  object-fit: cover;
}

.desktop .rectangle-8 {
  position: absolute;
  width: 320px;
  height: 706px;
  top: 2033px;
  left: 750px;
  background-color: #0000007a;
  border-radius: 30px;
  border: 3px solid;
  border-color: #fff400;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .rectangle-9 {
  position: absolute;
  width: 328px;
  height: 714px;
  top: 1970px;
  left: 1086px;
  object-fit: cover;
}

.desktop .rectangle-10 {
  position: absolute;
  width: 320px;
  height: 706px;
  top: 1970px;
  left: 1090px;
  background-color: #0000007a;
  border-radius: 30px;
  border: 3px solid;
  border-color: #fff400;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .rectangle-11 {
  position: absolute;
  width: 328px;
  height: 714px;
  top: 2069px;
  left: 1426px;
  object-fit: cover;
}

.desktop .rectangle-12 {
  position: absolute;
  width: 320px;
  height: 706px;
  top: 2069px;
  left: 1430px;
  background-color: #0000007a;
  border-radius: 30px;
  border: 3px solid;
  border-color: #fff400;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 2823px;
  left: 71px;
  font-family: "HakgyoansimExt Wooju-R", Helvetica;
  color: #e9268d;
  font-size: 32px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 2879px;
  left: 71px;
  font-family: "HakgyoansimExt Wooju-R", Helvetica;
  color: #e9268d;
  font-size: 32px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 2823px;
  left: 153px;
  font-family: "HakgyoansimExt Wooju-R", Helvetica;
  color: #e9268d;
  font-size: 32px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 2879px;
  left: 153px;
  font-family: "HakgyoansimExt Wooju-R", Helvetica;
  color: #e9268d;
  font-size: 32px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 2879px;
  left: 261px;
  font-family: "HakgyoansimExt Wooju-R", Helvetica;
  font-weight: 400;
  color: #e9268d;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 2743px;
  left: 70px;
  -webkit-text-stroke: 1px #f7ff83;
  background: linear-gradient(180deg, rgb(253, 124, 42) 0%, rgb(233, 38, 141) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: transparent;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 208px;
  top: 544px;
  left: 1348px;
  transform: rotate(30deg);
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  position: absolute;
  top: 38px;
  left: 70px;
  -webkit-text-stroke: 1px #fff400;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ff0086;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 38px;
  left: 178px;
  -webkit-text-stroke: 1px #fff400;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ff0086;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-15 {
  position: absolute;
  top: 38px;
  left: 286px;
  -webkit-text-stroke: 1px #fff400;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ff0086;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  position: absolute;
  top: 38px;
  left: 428px;
  -webkit-text-stroke: 1px #fff400;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ff0086;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line-stroke {
  position: absolute;
  width: 68px;
  height: 5px;
  top: 88px;
  left: 71px;
}

.desktop .text-wrapper-17 {
  position: absolute;
  width: 306px;
  top: 2543px;
  left: 78px;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-18 {
  position: absolute;
  width: 306px;
  top: 2640px;
  left: 417px;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-19 {
  position: absolute;
  width: 306px;
  top: 2594px;
  left: 757px;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-20 {
  position: absolute;
  width: 306px;
  top: 2538px;
  left: 1097px;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-21 {
  position: absolute;
  width: 306px;
  top: 2630px;
  left: 1437px;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
